@model IEnumerable<Webservice.Models.Instrument_Table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Equipment_Table.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Station_Table.Navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Equipment_Table.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Station_Table.Navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OpstillingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OpstillingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OpstillingId })
        </td>
    </tr>
}

</table>
